/* Styling for header, footer and nav */

.header-bg {
    background: #006473 url('/static/images/mobo.jpg') 48%;
}

.navbar-brand {
    font-family: 'Audiowide', cursive;
    font-size: x-large;    
    color: #FDDE6C !important;
    text-shadow: 4px 4px #2F4858;
}

.nav-item a {
    color: whitesmoke !important;
    text-shadow: 2px 2px #2F4858;
}

.nav-item a:hover,
.navbar-brand:hover {
    color: #81AD36 !important;
}

body {
    font-family: 'Merriweather', serif;    
}

a {
    text-decoration: none;    
}

a:hover {
    cursor: pointer;
}

footer a {
    color: whitesmoke;
    font-size: x-large;
    padding-right: 6px;
}

footer a:hover {
    color: #81AD36;
}

.dark-bg {
    background: #2F4858;
    color: whitesmoke;
}

.clear {
    clear: both;
    height: 118px;
}

main {
    min-height: 100%;
    margin-bottom: -108px;
}

.sign-in-prompt {
    color: #81AD36;
}

.sign-in-prompt:hover {
    color: #006473;
}

/* Styling for card elements */

.card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.dark-font {
    color: #2F4858;    
}

.topic-category {
    background: #FFEFCA;
}

.topic-category a {
    color: #2F4858 !important;
}

.topic-category a:hover {
    color: #299A5E !important;
}

/* Button styling */

.main-btn {
    background: #006473;
    color: whitesmoke;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main-btn a,
.btn-danger a {
    color: whitesmoke;
}

.main-btn:hover,
.main-btn a:hover {
    color: #81AD36;
}

/* Border styling for post and reply cards */

.border-right {
    border-right: 3px solid #2F4858;
}

/* Styling rules for lists */

.list-style-none {
    list-style-type: none;
}

/* Media queries */

@media screen and (max-width: 765px) {
    .border-right {
    border-right: none;
    }
}



