/* Styling for header, footer and nav */

.header-bg {
    background: #993333;
}

.navbar-brand {
    font-family: 'Audiowide', cursive; 
    font-size: x-large;    
    color: whitesmoke !important;
}

.nav-item a {
    color: whitesmoke !important;
}

.nav-item a:hover,
.navbar-brand:hover {
    color: coral !important;
}

body {
    font-family: 'Merriweather', serif;    
}

a {
    text-decoration: none;    
}

a:hover {
    cursor: pointer;
}

footer a {
    color: whitesmoke;
}

footer a:hover {
    color: coral;
}

.dark-bg {
    background: #384968;
    color: whitesmoke;
}

/* Styling for card elements */

.card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.dark-font {
    color: #384968;    
}

/* Button styling */

.main-btn {
    background: #733C69;
    color: whitesmoke;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main-btn a {
    color: whitesmoke;

}

.main-btn a:hover {
    color: coral;
}

/* Border styling for post and reply cards */

.border-right {
    border-right: 3px solid #384968;
}

/* Media queries */

@media screen and (max-width: 765px) {
    .border-right {
    border-right: none;
    }
}



