{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="row">
    <div class="col-12">
        <!-- Card to display chosen post -->
        <div class="card mb-3 mt-5 mx-3">
            <div class="row">
                <div class="col-md-3 border-right">
                    <p class="card-text text-center pt-3"><strong>Author:</strong> {{ post.creator }}</p>
                    <p class="card-text text-center"><strong>Created:</strong> {{ post.created }}</p>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title"><strong>{{ post.title }}</strong></h5>
                        <hr>
                        <p class="card-text">{{ post.body }}</p>
                        <p class="card-text"><small class="text-muted">Last updated: {{ post.updated }}</small></p>
                    </div>
                </div>
            </div>
        </div>
        {% if user == post.creator %}
        <div class="btn btn-sm d-inline-block main-btn ms-3">
            <a href="{% url 'edit_post' post.slug %}">Edit</a>
        </div>
        <!-- Modal trigger button -->
        <button type="button" class="btn btn-sm main-btn ms-2" data-bs-toggle="modal" data-bs-target="#deleteModal">
            Delete
        </button>        
        {% else %}

        {% endif %}
        
        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="modalHeading" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalHeading">Delete Post</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this post?
                    </div>
                    <div class="modal-footer">
                        <div class="btn d-inline-block btn-danger">
                            <a href="{% url 'delete_post' post.slug %}">Delete</a>
                        </div>
                        <button type="button" class="btn main-btn" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Guidance for reply form taken from the Django blog walkthrough project -->
        {% if user.is_authenticated %}
        <div class="card mb-4 mt-5 mx-3">
            <div class="card-body">
                <h4>Add a reply</h4>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ reply_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn main-btn mt-3">Submit</button>
                </form>
            </div>
        </div>
        {% else %}
        <p class="text-center mt-5">You need to be signed in to leave a reply.</p>
        {% endif %}

        <h4 class="text-center my-5"><strong>Replies</strong></h4>
        <!-- For display of related replies -->
        {% for reply in replies %}
        <div class="card mb-3 mx-3">
            <div class="row">
                <div class="col-md-3 border-right">
                    <p class="card-text text-center pt-3"><strong>Author:</strong> {{ reply.creator }}</p>
                    <p class="card-text text-center pb-3"><strong>Created:</strong> {{ reply.created }}</p>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <p class="card-text">{{ reply.body }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>



{% endblock %}