{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Topic detailed view parent container -->
        <div class="col-12">
            <!-- Topic card layout -->
            <div class="mt-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center"><strong>{{ topic.name }}</strong></h5>
                        <p class="card-text text-center">{{ topic.description }}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-2 mx-auto text-center mt-5">
                    <div class="btn d-inline-block main-btn">
                        <a href="{% url 'add_post' %}">Add post</a>
                    </div>
                </div>
            </div>

            <h4 class="text-center my-5"><strong>Posts:</strong></h4>
            <!-- Post list view for most recents posts -->
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    {% for post in posts %}
                    <div class="card mb-2">
                        <a href="{% url 'post_detail' post.slug %}">
                            <h5 class="card-header dark-font"><strong>{{ post.title }}</strong></h5>
                        </a>                        
                        <div class="card-body">
                            <p class="card-text">{{ post.body }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}